@charset "utf-8";
.title1 {
	color: #475FBF;
	font-size: 93px;
	text-align: center;
	letter-spacing: 12px;
	text-transform: uppercase;
	word-spacing: 30px;
	white-space: pre-line;
	background-image: -webkit-linear-gradient(270deg,rgba(173,179,255,1.00) 0%,rgba(116,175,255,1.00) 54.40%,rgba(0,44,184,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(173,179,255,1.00) 0%,rgba(116,175,255,1.00) 54.40%,rgba(0,44,184,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(173,179,255,1.00) 0%,rgba(116,175,255,1.00) 54.40%,rgba(0,44,184,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(173,179,255,1.00) 0%,rgba(116,175,255,1.00) 54.40%,rgba(0,44,184,1.00) 100%);
	background-attachment: scroll;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-weight: bold;
}
.main1 {
	color: #E59E18;
	text-align: right;
	font-size: large;
	background-color: #C3D1FF;
}
.main2 {
    color: #1CA1C3;
    font-size: large;
}
#maincontent img {
    -webkit-box-shadow: 7px 7px 9px #747474;
    box-shadow: 7px 7px 9px #747474;
}

#caption img {
	-webkit-box-shadow: 7px 7px 18px #484848;
	box-shadow: 7px 7px 18px #484848;
}
