@charset "utf-8";
.title1 {
    color: #475FBF;
    font-size: xx-large;
    text-align: center;
}
.main1 {
    color: #E59E18;
    text-align: right;
    font-size: large;
}
.main2 {
    color: #1CA1C3;
    font-size: large;
}
